.header-container {
    position: sticky;
    top: 0px;
    background: gray;
    color: white;
    height: 3rem;
    z-index: 1;
}

#logo {
    width: 2rem;
    height: 2rem;
    margin: 0.4rem;
}

a{
    display: inline-block
}